.App {
  text-align: center;
  /* padding-top: 50px; */
  font-family: "american typewriter";
  font-weight: bold;
  /* text-decoration: underline; */
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 50px;
  padding: 10px;
  padding-right: 500px;
  margin: auto;

}


.grid-item {
  background-color: gray;

  border: 1.5px solid rgba(0, 0, 0, 0.8);
  padding: 45px;
  max-width: 16px;
  max-height: 16px;
  font-size: 12px;
  text-align: center;
  text-shadow: -2px -2px white;
}
